<div class="container">
  <div class="row">
    <div class="col-md-12">
      <label >Search Jobs</label>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-4 labelText">Experience</div>
            <div class="col-md-8">
              <select class="form-control" #selectexperience>
                <option [value]="0">Fresher</option>
                <option [value]="1">Less then 1 yr</option>
                <option [value]="2">1yr to 3yr</option>
                <option [value]="3">3yr to 5yr</option>
                <option value="4">5yr to 8yr</option>
                <option value="5">more then 8yr</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-4 labelText">Location</div>
            <div class="col-md-8">
             <input #locationText type="text" class="form-control" placeholder="Enter Location"/>
            </div>
          </div>
        </div>
        <div class="col-md-2 searchButton">
          <button type="submit" class="btn btn-primary" (click)="Search(selectexperience.value,locationText.value)">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-job-listing></app-job-listing>

<br>